.filter-container {
    display: none;
    flex-direction: row;
    padding-left: 100px;
    width: 100%;
    background-color: #171717;
    transition: 0.5s;
    padding-bottom: 30px;
}
.filter-container.on {
    display: flex;
}
.filter-container .filter-type {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0%;
    padding-right: 32px;
}
.filter-container .filter-type > div {
    margin-top: 15px;
    cursor: pointer;
}
.filter-container .filter-type .selected {
    color: white;
}
.filter-container .filter-group-name {
    color: #282828;
    border-bottom: 1px solid #282828;
    margin: 5px 0;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 500;
}
.filter-container .filter-group-name h4 {
    color: white;
}
