.channel-page {
  .banner-img > img {
    width: 100%;
    max-height: 250px;
  }
  .channel-information {
    display: flex;
    align-items: center;
    background-color: #181818;
    color: #fff;
    padding: 16px 92px 4px;
    .channel-avatar {
      border-radius: 50%;
    }
    .inform-detail {
      flex-grow: 1;
      font-weight: 400px;
      padding-left: 25px;
      .container {
        display: flex;
        padding: 0;
        .channel-name {
          font-size: 24px;
        }
      }
      .subscribers {
        color: #aaa;
        font-size: 12px;
      }
    }
    .subscribe-btn {
      background-color: #c00;
      color: #fff;
      border-radius: 2px;
      height: 36px;
      width: 109.5px;
      border: none;
    }
  }
  .tabs {
    background-color: #181818;
    color: #aaa;
    height: 47px;
    padding: 0 92px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .tab {
      padding: 14px 32px;
      border: none;
      background-color: #181818;
      color: #aaa;
      &:hover {
        color: #fff;
      }
    }
    .tab-actived {
      border-bottom: 3px solid #fff;
      color: #fff;
    }
  }
}
// Channel subscriptions
.channel-subscriptions {
  .title {
    padding: 15px 0;
  }
  .containers {
    display: flex;
    flex-wrap: wrap;
    .box {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 189px;
      .avatar {
        img {
          border-radius: 50%;
          cursor: pointer;
          width: 103px;
          height: 103px;
        }
      }
      .title-channel {
        cursor: pointer;
        margin: 4px 0;
      }
    }
  }
  .btn-load-more {
    display: flex;
    justify-content: center;
    button {
      font-size: 14px;
      border: none;
      text-decoration: none;
      background-color: #eee;
      cursor: pointer;
      padding: 4px 8px;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.channel-page.full > .content {
  max-height: calc(100vh - 191px);
  overflow-x: auto;
}
.channel-page > div > form.list-result {
  max-height: calc(100vh - 243px);
  overflow-x: auto;
}
@media screen and (min-width: 769px) {
  .top-menu .channel-page.full > .content {
    max-height: calc(100vh - 191px - 46px);
  }
  .top-menu .channel-page > div > form.list-result {
    max-height: calc(100vh - 243px - 46px);
  }
  .classic.top-menu .channel-page.full > .content,
  .classic.top-menu .channel-page > div > form.list-result {
    max-height: auto;
    overflow-x: unset;
  }
}
@media only screen and (max-width: 630px) {
  .channel-page .channel-information {
    padding-left: 16px;
  }
  .channel-page .tabs {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .channel-page .tabs > div {
    width: 25%;
  }
  .channel-page .tabs .tab {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
