
.btn-container {
  padding-left: 50%;
  .btn-load-more {
    padding: 16px;
    background-color: rgba(0,0,0,0.6);
    color: white !important;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn-load-more:hover {
    background-color: rgba(0,0,0,0.8);
  }
}
