.comment-threads-container {
  margin-top: 18px;
  width: 100%;
}
.comment-threads-container .comments-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.comment-threads-container .comments-bar h2 {
  padding-top: 4px;
}
.comment-threads-container .comments-bar .comments-sort {
  height: 34px;
  min-width: 200px;
  border: 1px solid;
  border-radius: 20px;
  padding-left: 14px;
  color: #777777;
  border-color: #777777;
  font-size: 14px;
}
.comment-threads-container .comments-total {
  margin-bottom: 12px;
}
.comment-threads-container .comments {
  margin-bottom: 8px;
}
.comment-threads-container .comments .img-user {
  width: 45px;
  height: 45px;
}
.comment-threads-container .comments .img-user img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.comment-threads-container .view {
  color: #007bff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
