.video-play-button {
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  border: none;
  background-color: transparent;
}
.video-play-circle {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  transition: stroke-dashoffset 0.5s;
}
.video-play-button svg {
  display: block;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.video-play-button:hover .video-play-circle {
  stroke-dashoffset: 0;
}
.video-play-button:active .video-play-outline {
  transform: scale(1.5);
  opacity: 0;
}
.video-play-button:active svg {
  transform: rotate(-90deg) scale(0.95);
}
