.video-info-container{
  .video-info{
    padding: 20px 0 8px;
    border-bottom: 1px solid #aaaaaa52;
    .publish{
      font-size: 14px;
    }
  }
  .video-info-box{
    border-bottom: 1px solid #aaaaaa52;
    margin: 0 0 24px;
    padding: 16px 0;
    .top{
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      img{
        cursor: pointer;
        margin-right: 16px;
        border-radius: 50%;
      }
      .channel-info{
        flex-grow: 1; 
          .channel-name{
            cursor: pointer;
            font-size: 14px;
          }
      }
    }
    .video-description{
      margin-left: 64px;
      max-width: 615px;
      p{
        font-size: 14px;
        white-space: pre-line;
        display: block;
      }
    }
    .collapsed{
      max-height: 2.8rem;
      overflow-y: hidden;
    }
    .extended{
      max-height: none;
    }
    .btn-show{
      color: #000;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      margin-top: 8px;
      margin-left: 64px;
    }
  }
}