.video-info-container .video-info {
  padding: 20px 0 8px;
  border-bottom: 1px solid #aaa 52;
}
.video-info-container .video-info .publish {
  font-size: 14px;
}
.video-info-container .video-info-box {
  border-bottom: 1px solid #aaa 52;
  margin: 0 0 24px;
  padding: 16px 0;
}
.video-info-container .video-info-box .top {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.video-info-container .video-info-box .top img {
  cursor: pointer;
  margin-right: 16px;
  border-radius: 50%;
}
.video-info-container .video-info-box .top .channel-info {
  flex-grow: 1;
}
.video-info-container .video-info-box .top .channel-info .channel-name {
  cursor: pointer;
  font-size: 14px;
}
.video-info-container .video-info-box .video-description {
  margin-left: 64px;
  max-width: 615px;
}
.video-info-container .video-info-box .video-description p {
  font-size: 14px;
  white-space: pre-line;
  display: block;
}
.video-info-container .video-info-box .collapsed {
  max-height: 2.8rem;
  overflow-y: hidden;
}
.video-info-container .video-info-box .extended {
  max-height: none;
}
.video-info-container .video-info-box .btn-show {
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 64px;
}
