:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --dark: #343a40;
  --light: #f8f9fa;
  --border: #adb6c7;
  --body-color: #ffffff;
}

.badge {
  line-height: 1.5;
  border-radius: 1.03125rem;
  padding: 0.25rem 0.625rem;
  border: 0.0625rem solid transparent;
  color: white;
}

.badge-rounded {
  border-radius: 1.25rem;
  padding: 0.1875rem 0.8125rem;
}

.badge-circle {
  border-radius: 6.25rem;
}

.badge-outline-primary {
  border: 0.0625rem solid var(--primary);
  color: var(--primary);
}

.badge-outline-secondary {
  border: 0.0625rem solid var(--secondary);
  color: var(--secondary);
}

[data-theme-version="dark"] .badge-outline-secondary {
  color: var(--body-color);
}

.badge-outline-success {
  border: 0.0625rem solid var(--success);
  color: var(--success);
}

.badge-outline-info {
  border: 0.0625rem solid var(--info);
  color: var(--info);
}

.badge-outline-warning {
  border: 0.0625rem solid var(--warning);
  color: var(--warning);
}

.badge-outline-danger {
  border: 0.0625rem solid var(--danger);
  color: var(--danger);
}

.badge-outline-light {
  border: 0.0625rem solid var(--border);
  color: var(--dark);
}

.badge-outline-dark {
  border: 0.0625rem solid black;
  color: black;
}

.badge-xs {
  font-size: 0.625rem;
  padding: 0rem 0.3125rem;
  line-height: 1.125rem;
}

.badge-sm {
  font-size: 0.6875rem;
  padding: 0.3125rem 0.5rem;
  line-height: 0.6875rem;
}

.badge-lg {
  font-size: 0.875rem;
  padding: 0rem 0.625rem;
  line-height: 1.875rem;
}

.badge-xl {
  font-size: 1rem;
  padding: 0rem 0.9375rem;
  line-height: 2.1875rem;
}

.badge-default {
  background: var(--border);
}

.badge-success {
  background-color: var(--success);
}

.badge-secondary {
  background-color: var(--secondary);
}

.badge-info {
  background-color: var(--info);
}

.badge-primary {
  background-color: var(--primary);
}

.badge-warning {
  background-color: var(--warning);
}

.badge-danger {
  background-color: var(--danger);
}

.badge-dark {
  background-color: var(--dark);
}

.badge-light {
  background-color: var(--light);
  color: var(--body-color);
}
