.dark {
  background: -moz-linear-gradient(left, #008577, #00574b); /* Firefox 3.6 - 15 */
  background: -webkit-gradient(linear, left top, right top, from(#008577), to(#00574b)); /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background: -webkit-linear-gradient(left, #008577, #00574b); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background: -o-linear-gradient(left, #008577, #00574b); /* Opera 11.1 - 12 */
  background: -ms-linear-gradient(left, #008577, #00574b); /* ie10+ */
  background: linear-gradient(to right, #008577, #00574b); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008577', endColorstr='#00574b',GradientType=1 ); /* ie6-9 */
}

.dark ::-webkit-scrollbar-track {
  background: #252525;
}
.dark ::-webkit-scrollbar-thumb {
  background: #3f3f3f;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #787878;
}
.dark * {
  scrollbar-color: #3f3f3f #111111; /* thumb track */
}
@media screen and (min-width: 769px) {
  .dark .top-menu .menu.sidebar::-webkit-scrollbar-thumb {
    background: #747979;
  }
}

.dark body,
.dark .page-container,
.dark .alert-wrapper .alert,
.dark .dropdown,
.dark .dropdown-menu-profile {
  background-color: #000;
}
.dark .page-header {
  border-color: #323232;
}

.dark .solid > form > footer,
.dark .solid > footer,
.dark .solid .view-footer {
  box-shadow: none;
}

.dark .star-picker span.active,
.dark .review-item-stars::after,
.dark .star,
.dark .bar,
.dark .fill {
  color: #d4a900;
}
.dark .fill {
  background: #d4a900;
}
.dark .track {
  background: #383838;
}

.dark .partial-star::before,
.dark .empty-star,
.dark .review-item-stars::before {
  color: #313131;
}

.dark body,
.dark article,
.dark .editor,
.dark .chip,
.dark .data-list dd,
.dark table > thead > tr,
.dark .btn-group,
.dark .btn-next,
.dark .btn-accept,
.dark .btn-cancel,
.dark .btn-limit,
.dark .dropdown a,
.dark .profile-title,
.dark .profile-title > h2,
.dark .profile-followers,
.dark label.switch-container,
.dark label.checkbox-container,
.dark label.checkbox-group,
.dark label.radio-group,
.dark .checkbox-group > label,
.dark .radio-group > label,
.dark .group label div {
  color: #c2c2c2;
}

.dark label.search-input select,
.dark label.search-input input {
  color: #c2c2c2 !important;
}
.dark .row > label.search-input > *,
.dark .search-input > * {
  border-color: #4c4c4c !important;
}

.dark .card > footer > button.btn-cancel,
.dark .central-full > form > div > button.btn-cancel,
.dark header > h5,
.dark .view-subtitle,
.dark .subtitle {
  color: #999999;
}

.dark .img-item img,
.dark .view-body > section > article > p,
.dark .section-body > p {
  border-color: #909090;
}

.dark hr {
  border-color: #313131;
}
.dark .solid hr {
  border-color: #909090;
}

.dark .list-item > *:last-child,
.dark .img-item > *:last-child {
  border-bottom-color: #313131;
}

.dark .rating-title,
.dark .rating-summary,
.dark .review-item footer,
.dark .img-card > section,
.dark .card > section,
.dark .video > section,
.dark .horizon > .video {
  border-color: #313131;
}


.dark .cover > i:first-child {
  background: #fff;
  color: #000;
}

.dark :not(pre) > code[class*="language-"],
.dark pre[class*="language-"] {
  border-color: #222;
  background: #242424;
}

.dark ul.list > li.highlight {
  background-color: #242424;
}
.dark .light-gray {
  color: #4c4c4c !important;
}

.dark input:read-only,
.dark input:disabled,
.dark select:disabled {
  color: #4c4c4c !important;
}

.dark button:disabled {
  color: #c2c2c2 !important;
  background-color: #4c4c4c !important;
}

.dark .chip-input-container > input,
.dark .form-group .form-control,
.dark .form-textarea,
.dark textarea,
.dark .inline-input > input,
.dark label > input,
.dark .form .row > label > input,
.dark label > select:not([multiple]),
.dark .form .row > label > select:not([multiple]) {
  color: #c2c2c2;
  border-color: #313131;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.dark .switch-container > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):before,
.dark input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]).switch:before {
  border-color: #c2c2c2;
  color: #4c4c4c;
  background: #000;
}
.dark input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):before {
  border-color: #c2c2c2;
  background: #000;
}

.dark .card > section > p.description,
.dark label,
.dark .muted,
.dark .diff .row .col p > span,
.dark .data-list dt,
.dark .btn-detail,
.dark .quick-nav,
.dark header > .btn-back,
.dark .btn-close,
.dark .btn-filter,
.dark .btn-remove-text,
.dark .btn-group {
  color: #909090;
}

.dark .modal-portal-content header > .btn-group > button,
.dark .modal-portal-content > div > header > .btn-close,
.dark .form > div > section.header-container > p,
.dark .solid {
  color: #000;
}

.dark .section.search > .btn-search:hover,
.dark .btn-review:hover,
.dark .btn-more:hover,
.dark footer > button:hover {
  box-shadow: #565656;
}

.dark .btn-delete {
  color: #fc671a;
}
.dark section.footer > button#btnReject,
.dark footer > button#btnReject {
  background-color: #ff6b5f;
}
.dark footer > .btn-cancel::before {
  color: #000;
  background-color: #fc671a;
}

.dark .form-group .form-control.invalid,
.dark label > input:not([type="checkbox"]):not([type="radio"]).invalid,
.dark label.invalid > input:not([type="checkbox"]):not([type="radio"]):focus,
.dark label.invalid > select:focus {
  border-color: #ff6b5f;
  box-shadow: 0 1px 0 0 #ff6b5f;
}
.dark label.invalid > textarea {
  border-color: #ff6b5f;
  outline-color: #ff6b5f;
}

.dark .btn-deselect,
.dark .row .form-group.invalid label,
.dark .row .form-group.invalid.focused label,
.dark label.invalid,
.dark label.invalid.focused,
.dark .btn-remove,
.dark label.required:before,
.dark .span-error,
.dark .alert-error,
.dark .danger-icon .alert-icon {
  color: #ff6b5f;
}

.dark .span-error {
  color: #000;
  background-color: #ff6b5f;
}

.dark .switch-container > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):after,
.dark input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]).switch:after {
  border-color: #909090;
  color: #000;
  background: #5fd0c5;
}
.dark input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):after {
  color: #000;
  background: #5fd0c5;
}

.dark input[type="radio"]:before {
  border-color: #c2c2c2;
  background-image: radial-gradient(circle, #5fd0c5 40%, inherit 50%);
}
.dark input[type="radio"]:checked:before {
  background-color: #5fd0c5;
  background-image: radial-gradient(circle, #5fd0c5 40%, #5fd0c5 50%);
  border-color: #5fd0c5;
}

.dark .row .form-group.valid label,
.dark .row .form-group.valid.focused label,
.dark label.valid,
.dark label.valid.focused {
  color: #5fd0c5;
}

.dark label .chip-input-container > input:focus,
.dark .form-group .form-control:focus,
.dark label.inline-input > input:focus,
.dark label > input:not([type="checkbox"]):not([type="radio"]):focus,
.dark label > select:not([multiple]):focus {
  border-color: #5fd0c5;
  box-shadow: 0 1px 0 0 #5fd0c5;
}
.dark textarea {
  outline-color: #5fd0c5;
}
.dark .form-group .form-control.valid,
.dark input.valid,
.dark select.valid {
  border-color: #5fd0c5;
  box-shadow: 0 1px 0 0 #5fd0c5;
}

.dark .player-music {
  background-color: #121212;
  color: white;
}
.dark .avatar-playing {
  background-color: #121212;
  color: white;
}

.dark .backgound-color-container {
  background-color: #04463c !important;
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

.dark .btn-reply {
  background-color: #1a1a1a !important;
}
.dark .progress,
.dark .rateReview,
.dark .addPhoto {
  background-color: #1a1a1a;
}
.dark .comments-sort,
.dark #page-select-rate,
.dark .rating {
  background-color: #1a1a1a;
  color: #f0f0f0;
}
.dark .btn-tab-area {
  background-color: #0f0f0f;
}
.dark .btn-tab-area .active {
  background-color: #1a1a1a;
}
.dark .btn-tab-area div:hover {
  background-color: #1a1a1a;
}
.dark .btn-tab-area div {
  background-color: #0f0f0f;
}
.dark .btn-tab-area div {
  color: #f0f0f0;
}
.dark .comments2,
.dark .post-comment-container,
.dark .comment {
  background-color: #1a1a1a !important;
  color: #f0f0f0;
}
.dark .filter div button {
  background-color: #0f0f0f;
  color: #f0f0f0;
}
.dark .btn-view-histories,
.dark .btn-edit-comment,
.dark .btn-delete-comment {
  background-color: #1a1a1a !important;
  color: #f0f0f0;
}

.dark .chips.focus {
  border-bottom: 1px solid #5fd0c5;
  -webkit-box-shadow: 0 1px 0 0 #5fd0c5;
  box-shadow: 0 1px 0 0 #5fd0c5;
}
.dark .highlight {
  color: #64ffda;
}

.dark .card > header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 6px -6px rgba(5, 5, 5, 0.34);
}
.dark .profile-header > .card,
.dark .profile .card {
  border: 1px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.dark .border-bottom-highlight {
  border-bottom: 3px solid #2a7e76 !important; /* #9e8f0e */
}

.dark .success-icon .alert-icon {
  color: #5fd0c5;
}
.dark .alert-wrapper {
  background-color: rgba(230, 230, 230, 0.1);
}
.dark .alert footer {
  border-color: #242424;
}

.dark .solid {
  background-image: linear-gradient(90deg, #008577, #00574b);
}

.dark .modal-portal-content > div > header {
  color: #000;
  background-image: linear-gradient(90deg, #008577, #00574b);
}
.dark .page-body > .form > header,
.dark .page-body > article > header,
.dark .page-body > div > header,
.dark .content-container > div > header,
.dark .view-header {
  color: #5fd0c5;
  background-color: #000;
  background-image: none;
}

.dark .toast-message {
  background-color: #cacaca;
  color: #000;
}
.dark .sidebar {
  background-color: #232323;
  color: #fff;
  border-color: #00574b;
}

.dark .sidebar > nav > ul > li > ul,
.dark .sidebar > nav > ul > li > ul > li > ul {
  /* background-color: #00574b; */
  background-color: #3b3b3b;
}
.dark .sidebar ul.sub-list > li.active,
.dark .sidebar > nav > ul > li.active,
.dark .open.active {
  background: #4b4f4f; /* #07843b */
}
.dark .sidebar .menu-item {
  color: #fff;
}
.dark .sub-list {
  border-color: #000;
}
@media screen and (min-width: 769px) {
  .dark .top-menu .sub-list {
    border-color: #000;
  }
  .dark .top-menu .sidebar > nav > ul > li:hover .sub-list {
    border-color: #4d4d4d;
  }
}

.dark .btn-more,
.dark h1,
.dark h2,
.dark .row .form-group.focused label,
.dark .row > label.focused,
.dark .row > .col label.focused,
.dark .view-container > form > div > label.focused,
.dark .view-container > div > label.focused,
.dark .view-body > label.focused,
.dark .view-container > form > div > h2,
.dark .card > footer > button,
.dark .btn-select,
.dark .btn-new,
.dark a.btn-new,
.dark .btn-table,
.dark .btn-list,
.dark .btn-search,
.dark .btn-lookup,
.dark .chip:focus,
.dark header > .btn-group,
.dark header > .btn-group > button,
.dark .page-header > form > div > section > button,
.dark .round-border.active {
  color: #5fd0c5;
  text-decoration: none;
}

.dark footer > .btn-accept::after,
.dark footer > .btn-next::after,
.dark .section.search > .btn-search,
.dark .central-full button,
.dark .view-footer > button,
.dark footer > button {
  color: #000;
}
.dark .btn-secondary {
  color: #5fd0c5;
}

.dark .sub.highlight,
.dark h3.header {
  color: #d0cfcf;
}

@media screen and (max-width: 600px) {
  .dark .page-body > .form > header,
  .dark .page-body > article > header,
  .dark .page-body > div > header,
  .dark .content-container > div > header,
  .dark .view-header {
    color: #000;
    background-image: linear-gradient(90deg, #008577, #00574b);
  }

  .dark .header {
    background-color: #0d0d0d;
  }
  .dark h3.header {
    background-color: #242424;
  }

  .dark .page-body > .form > header > h2,
  .dark .page-body > div > header > h2,
  .dark .content-container > div > header > h2,
  .dark .view-header > h2,
  .dark header > .btn-group > button,
  .dark header > .btn-group > *,
  .dark header > .btn-new,
  .dark header > .btn-back,
  .dark header > .btn-close,
  .dark .view-header > .btn-back,
  .dark .view-header > .btn-close {
    color: #000;
  }
}

.dark .pagination > li > a,
.dark .pagination > li > span {
  border-color: #666666;
  background-color: inherit;
}
/* bootstrap */
/*.panel-heading,*/
.dark .result .active,
/*
.dark .pagination > .active, 
.dark .pagination-page.active,*/
.dark .pagination > .active > a,
.dark .pagination > .active > span,
.dark .pagination > .active > a:hover,
.dark .pagination > .active > span:hover,
.dark .pagination > .active > a:focus,
.dark .pagination > .active > span:focus,
.dark .pagination > .active > a:hover,
.dark .pagination > .active > a:focus,
.dark .pagination > .active > span:focus,

.dark .table-striped tbody tr.active:nth-child(odd) td,
.dark .table-striped tbody tr.active:nth-child(odd) th,
.dark table > thead > tr > td.active,
.dark table > tbody > tr > td.active,
.dark table > tfoot > tr > td.active,
.dark table > thead > tr > th.active,
.dark table > tbody > tr > th.active,
.dark table > tfoot > tr > th.active,
.dark table > thead > tr.active > td,
.dark table > tbody > tr.active > td,
.dark table > tfoot > tr.active > td,
.dark table > thead > tr.active > th,
.dark table > tbody > tr.active > th,
.dark table > tfoot > tr.active > th {
  background-color: #387ef5;
}

.dark .table-hover tbody tr.active:hover td,
.dark .table-hover tbody tr.active:hover th,
.dark .table-striped tbody tr.active:nth-child(odd) td,
.dark .table-striped tbody tr.active:nth-child(odd) th,
.dark table > thead > tr > td.active,
.dark table > tbody > tr > td.active,
.dark table > tfoot > tr > td.active,
.dark table > thead > tr > th.active,
.dark table > tbody > tr > th.active,
.dark table > tfoot > tr > th.active,
.dark table > thead > tr.active > td,
.dark table > tbody > tr.active > td,
.dark table > tfoot > tr.active > td,
.dark table > thead > tr.active > th,
.dark table > tbody > tr.active > th,
.dark table > tfoot > tr.active > th {
  border-color: #428bca;
  background-color: #4f5352;
}

.dark table > tbody > tr:hover,
.dark table > tbody > tr:nth-of-type(odd):hover,
.dark .table-hover > tbody > tr:hover,
.dark .table-striped > tbody > tr:nth-of-type(odd):hover {
  background-color: #111;
}

.dark table > thead > tr > th,
.dark table > tbody > tr > td {
  border-bottom-color: #313131;
}

.dark table,
.dark table > tbody > tr > td,
.dark table > tbody > tr > th,
.dark table > tfoot > tr > td,
.dark table > tfoot > tr > th,
.dark table > thead > tr > td,
.dark table > thead > tr > th,
.dark .table-bordered,
.dark .table-bordered > tbody > tr > td,
.dark .table-bordered > tbody > tr > th,
.dark .table-bordered > tfoot > tr > td,
.dark .table-bordered > tfoot > tr > th,
.dark .table-bordered > thead > tr > td,
.dark .table-bordered > thead > tr > th {
  border-color: #313131;
}

.dark table > tbody > tr:nth-of-type(odd),
.dark .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #000;
}
/* end bootstrap only */
