.scroll-view {
  position: relative;
}

ul.list-view {
  padding: 0;
}

ul.list-view.horizon {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: auto;
  margin-left: 16px;
  margin-right: 16px;
}

.scroll-view > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.scroll-view:hover > button {
  display: flex;
}

ul.list-view > li {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}

ul.list-view.row {
  margin-left: 0;
  margin-right: 0;
}

ul.list-view > li {
  display: flex;
  flex-direction: column;
}
ul.list-view.row > li.col {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.list-item,
.img-item {
  padding-top: 8px;
}
.list-item {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}
.list-item > .btn-detail,
.img-item > .btn-detail {
  position: absolute;
  right: 16px;
}

.card,
.video {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card {
  margin-bottom: 10px;
}
ul.list-view.row > li.col > h3,
ul.list-view.row > li.col > h4,
ul.list-view.row > li.col > a,
ul.list-view.row > li.col > p {
  width: calc(100% - 32px);
}
/*
ul.list-view.row > li.col > *:first-child {
  padding-top: 8px;
}
*/
ul.list-view.row > li.col > *:last-child {
  border-bottom: 1px solid #ebebeb;
}

.card > *:first-child,
ul.list-view.row > li.col.video > *:first-child {
  padding-top: 0;
}

.card > *:last-child {
  padding-bottom: 0;
}

ul.list-view > li > section:first-child {
  display: flex;
  margin: 0 16px;
  align-items: center;
}

ul.list-view > li > section:first-child > div,
ul.list-view > li > div {
  flex: 1 1 auto;
  width: 1%;
}

.round-border {
  border-radius: 50%;
  border: 1px solid;
}

.img-item > img {
  position: absolute;
  left: 16px;
  width: 56px;
  height: 56px;
}
.img-item > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]) {
  position: absolute;
  left: 16px;
}
ul.list-view > li > section:first-child > img.medium-img,
ul.list-view > li > img.medium-img,
.medium-img {
  width: 60px;
  height: 60px;
  margin-right: 14px;
}

.video-container > h3,
.card > section > h3,
ul.list-view > li > section:first-child > div > h3,
ul.list-view > li > div > h3,
ul.list-view > li > h3 {
  width: 100%;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 1px;
  font-size: 18px;
  font-weight: 500;
}

.img-item > a,
.img-item > h4,
.list-item > a,
.list-item > h4,
.img-card > h4,
ul.list-view > li > section:first-child > div > h4,
ul.list-view > li > div > h4,
ul.list-view > li > h4 {
  width: 100%;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 2px;
  font-size: 17px;
  font-weight: 500;
}
.img-item > a,
.img-item > h4 {
  min-height: 32px;
}
.img-item > a,
.img-item > h4,
.img-item > p {
  padding-left: 68px;
}
.detail-content > form > div.video-container {
  padding: 12px;
}

.video-container > h4 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.img-card > p,
.video-container > p,
.card > section > p,
.video > section > p,
ul.list-view > li > section:first-child > div > p,
ul.list-view > li > div > p,
ul.list-view > li > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 2px;
  font-size: 15px;
  font-weight: 400;
}
.img-item > p:last-child {
  min-height: 32px;
}
.list-item > p:last-child {
  min-height: 28px;
}
ul.list-view > li > p > a,
.card > section > p > a,
.video > section > p > a {
  font-size: 15px;
  font-weight: 400;
}

ul.list-view > li > section:first-child > div > p {
  overflow: hidden;
}

ul.list-view > li > section:first-child > div > p.description,
ul.list-view > li > div > p.description,
ul.list-view > li > p.description {
  font-size: 14px;
}

.card > header {
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -6px rgba(5, 5, 5, 0.34);
}

.card > header * {
  padding-right: 6px;
}

.card > section,
.card > textarea,
.card > footer {
  width: 100%;
}

.card > footer {
  width: 100%;
  height: 75px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > footer > button.btn-cancel,
.card > footer > button {
  min-width: 110px;
  height: 35px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 0 !important;
  padding-right: 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: inherit;
  border: 1px solid;
  background: none;
}

.card > section,
.video > section {
  margin-top: 4px;
  margin-bottom: 4px;
  flex: 1 1 auto;
  flex-direction: column;
  border: 1px solid #ebebeb;
}

.card > section:first-child,
ul.list-view.row > li.col.video > section:first-child {
  width: calc(100% - 10px);
}

ul.list-view.row > li.col.video > section:first-child {
  padding-bottom: 24px;
}

ul.list-view.horizon > li.video {
  margin: 4px 2px;
  padding-top: 0;
  border: 1px solid #ebebeb;
  padding-bottom: 24px;
}

ul.list-view.horizon > li.video > .cover {
  width: 300px;
  height: 168px;
}

ul.list-view > li.video > section:first-child > p:last-child,
ul.list-view > li.video > p:last-child {
  position: absolute;
  bottom: 8px;
  padding-left: 3px;
}

ul.list-view.horizon > li.video > h3,
ul.list-view.horizon > li.video > h4,
ul.list-view.horizon > li.video > a {
  width: 100%;
  padding: 10px 8px;
}

ul.list-view.horizon > li.video > h4,
ul.list-view.horizon > li.video > a,
.video-container > h4,
.video-container > h4 > a,
.video-container > h4 > i {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

i.date {
  font-style: normal;
}

ul.list-view.horizon > li.video > p {
  padding: 0 8px;
}

ul.list-view.horizon > li.video > .cover > i:first-child {
  right: 6px;
}

.card > section > h3,
.card > section > p,
.video > section > p {
  width: calc(100% - 24px);
  padding-top: 10px;
}

ul.list-view > li > section:first-child > img.cover,
ul.list-view > li > section:first-child > div.cover,
.card .cover,
.video .cover {
  flex: none;
  width: 100%;
  height: 220px;
  margin-right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
ul.list-view > li > section:first-child > .title {
  cursor: pointer;
}
ul.list-view > li > section:first-child > .title:hover {
  text-decoration: underline;
}
.cover > img {
  height: 100%;
  width: 100%;
}

.cover > i:first-child {
  position: absolute;
  border-radius: 8px;
  right: 24px;
  top: 8px;
  padding: 1px 8px;
  min-width: 38px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  opacity: 0.78;
  background: #000;
  color: #fff;
}
ul.list-view > li.img-card > img,
.img-card > img {
  max-width: 100%;
  height: auto;
}
.img-card > h4.center,
.img-card > p.center {
  justify-content: center;
}
