.full,
.solid {
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.full > form > header,
.full > header,
.solid > form > header,
.solid > header,
.view-header.solid > .view-header {
  justify-content: center;
}

.full > form > div > h5,
.full > form > div > p,
.full > form > div > div,
.full > form > div > section,
.full > div > h5,
.full > div > p,
.full > div > div,
.full > div > section,
.full .view-body > h5,
.full .view-body > p,
.full .view-body > div,
.full .view-body > section,
.solid > form > div > h5,
.solid > form > div > p,
.solid > form > div > div,
.solid > form > div > section,
.solid > div > h5,
.solid > div > p,
.solid > div > div,
.solid > div > section,
.solid .view-body > h5,
.solid .view-body > p,
.solid .view-body > div,
.solid .view-body > section {
  padding-left: 16px;
  padding-right: 16px;
}

.form.central-full,
.central-full > form {
  margin: auto;
  width: 368px;
}

.full > form > div,
.full .view-body {
  padding-top: 0 !important;
}

.central-full .logo {
  margin-top: 58px;
  margin-bottom: 36px;
  width: 60px;
  height: 60px;
}

.form.central-full .logo {
  margin-top: 38px;
  margin-bottom: 26px;
}
@media screen and (max-width: 600px) {
  .full,
  .solid {
    padding-left: 0;
    padding-right: 0;
  }
  .central-full > .form > div {
    padding-top: 0;
  }
  .central-full > .form,
  .full > .form {
    width: 100%;
  }

  .central-full .logo {
    margin-top: 14%;
  }
}

.full > .form > div > section,
.full .view-body > section,
.solid .view-body > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full > form > div > section > button,
.full .view-body > section > button,
.solid .view-body > section > button {
  width: 100%;
  height: 46px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

.form.central-full > div > a,
.central-full > form > div > a {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
}

.form.central-full > div,
.central-full > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: unset;
}

.form.central-full > div > button,
.central-full > .form > div > button {
  width: calc(100% - 16px);
  height: 48px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.form.central-full > div > .message,
.central-full > form > div > .message {
  width: calc(100% - 16px);
}
