::-webkit-scrollbar-track {
  background: #f9f9f9;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
* {
  scrollbar-color: #c0c0c0 #f9f9f9; /* thumb track */
}
@media screen and (min-width: 769px) {
  .top-menu .menu.sidebar::-webkit-scrollbar-thumb {
    background: #747979;
  }
}

.star-picker span.active,
.review-item-stars::after,
.star,
.bar,
.fill {
  color: #ffcc00;
}
.fill {
  background: #ffcc00;
}
.track {
  background: #e5e5ea;
}

.partial-star::before,
.empty-star,
.review-item-stars::before {
  color: #ddd;
}

body,
.page-container,
.alert-wrapper .alert,
.dropdown,
.dropdown-menu-profile {
  background-color: #fff;
}
.page-header {
  border-color: #eee;
}

.solid > form > footer,
.solid > footer,
.solid .view-footer {
  box-shadow: none;
}

body,
article,
.editor,
.chip,
.data-list dd,
table > thead > tr,
.btn-group,
.btn-next,
.btn-accept,
.btn-cancel,
.btn-limit,
.dropdown a,
.profile-title,
.profile-title > h2,
.profile-followers,
label.switch-container,
label.checkbox-container,
label.checkbox-group,
label.radio-group,
.checkbox-group > label,
.radio-group > label,
.group label div {
  color: #4d4d4d;
}

label.search-input select,
label.search-input input {
  color: #4d4d4d !important;
}
.row > label.search-input > *,
.search-input > * {
  border-color: #b3b3b3 !important;
}

.card > footer > button.btn-cancel,
.central-full > form > div > button.btn-cancel,
header > h5,
.view-subtitle,
.subtitle {
  color: #999999;
}

.img-item img,
.view-body > section > article > p,
.section-body > p {
  border-color: #808080;
}

hr {
  border-color: #ebebeb;
}
.solid hr {
  border-color: #808080;
}

.list-item > *:last-child,
.img-item > *:last-child {
  border-bottom-color: #ebebeb;
}

.rating-title,
.rating-summary,
.review-item footer,
.img-card > section,
.card > section,
.video > section,
.horizon > .video {
  border-color: #ebebeb;
}

.cover > i:first-child {
  background: #000;
  color: #fff;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border-color: #ddd;
  background: #f2f2f2;
}

ul.list > li.highlight {
  background-color: #f2f2f2;
}
.light-gray {
  color: #b3b3b3 !important;
}

input:read-only,
input:disabled,
textarea:disabled,
select:disabled {
  color: #b3b3b3 !important;
}

button:disabled {
  /* color: #4d4d4d !important; */
  color: #b3b3b3 !important;
}

.chip-input-container > input,
.form-group .form-control,
.form-textarea,
textarea,
.inline-input > input,
label > input,
.form .row > label > input,
label > select:not([multiple]),
.form .row > label > select:not([multiple]) {
  color: #4d4d4d;
  border-color: #ebebeb;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.switch-container > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):before,
input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]).switch:before {
  border-color: #4d4d4d;
  color: #b3b3b3;
  background: #fff;
}
input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):before {
  border-color: #4d4d4d;
  background: #fff;
}

.card > section > p.description,
label,
.muted,
.diff .row .col p > span,
.data-list dt,
.btn-detail,
.quick-nav,
header > .btn-back,
.btn-close,
.btn-filter,
.btn-remove-text,
.btn-group {
  color: #808080;
}

.modal-portal-content header > .btn-group > button,
.modal-portal-content > div > header > .btn-close,
.form > div > section.header-container > p,
.solid {
  color: #fff;
}

.section.search > .btn-search:hover,
.btn-review:hover,
.btn-more:hover,
footer > button:hover {
  box-shadow: 0 1px 3px 1px #a9a9a9;
}

.btn-delete {
  color: #fc671a;
}
section.footer > button#btnReject,
footer > button#btnReject {
  background-color: #d74738;
  color: #fff;
}
footer > .btn-cancel::before {
  color: #fff;
  background-color: #fc671a;
}

.form-group .form-control.invalid,
label > input:not([type="checkbox"]):not([type="radio"]).invalid,
label.invalid > input:not([type="checkbox"]):not([type="radio"]):focus,
label.invalid > select:focus {
  border-color: #d74738;
  box-shadow: 0 1px 0 0 #d74738;
}
label.invalid > textarea {
  border-color: #d74738;
  outline-color: #d74738;
}

.btn-deselect,
.row .form-group.invalid label,
.row .form-group.invalid.focused label,
label.invalid,
label.invalid.focused,
.btn-remove,
label.required:before,
.span-error,
.alert-error,
.danger-icon .alert-icon {
  color: #d74738;
}

.span-error {
  color: #fff;
  background-color: #d74738;
}

.switch-container > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):after,
input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]).switch:after {
  border-color: 1px solid #808080;
  color: #fff;
  background: #4db6ac;
}
input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]):after {
  color: #fff;
  background: #4db6ac;
}

input[type="radio"]:before {
  border-color: #4d4d4d;
  background-image: radial-gradient(circle, #4db6ac 40%, inherit 50%);
}
input[type="radio"]:checked:before {
  background-color: #4db6ac;
  background-image: radial-gradient(circle, #4db6ac 40%, #4db6ac 50%);
  border-color: #4db6ac;
}

.row .form-group.valid label,
.row .form-group.valid.focused label,
label.valid,
label.valid.focused {
  color: #4db6ac;
}

label .chip-input-container > input:focus,
.form-group .form-control:focus,
label.inline-input > input:focus,
label > input:not([type="checkbox"]):not([type="radio"]):focus,
label > select:not([multiple]):focus {
  border-color: #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}
textarea {
  outline-color: #4db6ac;
}
.form-group .form-control.valid,
input.valid,
select.valid {
  border-color: #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}

.review-custom > .rate-area > .card {
  background-color: #f5f5f5;
}
.btn-reply {
  background-color: #f5f5f5;
}
.progress,
.rateReview,
.addPhoto {
  background: #f5f5f5;
}
.comments-sort,
#page-select-rate,
.rating {
  border-color: #777777;
  color: #777777;
}
.btn-tab-area {
  background-color: #f5f5f5;
}
.btn-tab-area .active {
  background-color: white;
}
.btn-tab-area div:hover {
  background-color: white;
}
.btn-tab-area div {
  color: #0f0f0f;
}
.filter div button {
  background-color: #0f0f0f;
  color: #f0f0f0;
}

.chips.focus {
  border-bottom: 1px solid #4db6ac;
  -webkit-box-shadow: 0 1px 0 0 #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}
.highlight {
  color: #4db6ac;
}

.card > header {
  box-shadow: 0 4px 6px -6px rgba(5, 5, 5, 0.34);
}
.profile-header > .card,
.profile .card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
.border-bottom-highlight {
  border-bottom: 3px solid #4db6ac;
}

.success-icon .alert-icon {
  color: #4db6ac;
}
.alert-wrapper {
  background-color: rgba(25, 25, 25, 0.1);
}
.alert footer {
  border-color: #dbdbdb;
}

.solid {
  background-image: linear-gradient(90deg, #008577, #00574b);
}

.modal-portal-content > div > header {
  color: #fff;
  background-image: linear-gradient(90deg, #008577, #00574b);
}
.page-body > .form > header,
.page-body > article > header,
.page-body > div > header,
.content-container > div > header,
.view-header {
  color: #4db6ac;
  background-color: #fff;
  background-image: none;
}

.toast-message {
  background-color: #008577;
  color: #fff;
  border-color: #00574b;
}
.sidebar {
  background-color: #008577;
  color: #fff;
  border-color: #00574b;
}
.sidebar > nav > ul > li > ul,
.sidebar > nav > ul > li > ul > li > ul {
  background-color: #00574b;
}
.sidebar ul.sub-list > li.active,
.sidebar > nav > ul > li.active,
.open.active {
  background: #01a090; /* #07843b */
}
.sidebar .menu-item {
  color: #fff;
}
.sub-list {
  border-color: #00574b;
}
@media screen and (min-width: 769px) {
  .top-menu .sub-list {
    border-color: #fff;
  }
  .top-menu .sidebar > nav > ul > li:hover .sub-list {
    border-color: #00574b;
  }
}

.btn-more,
h1,
h2,
.row .form-group.focused label,
.row > label.focused,
.row > .col label.focused,
label.focused,
.view-body > label.focused,
.card > footer > button,
.btn-select,
.btn-new,
a.btn-new,
.btn-table,
.btn-list,
.btn-search,
.btn-lookup,
.chip:focus,
header > .btn-group,
header > .btn-group > button,
.page-header > form > div > section > button,
.round-border.active {
  color: #4db6ac;
  text-decoration: none;
}

footer > .btn-accept::after,
footer > .btn-next::after,
.section.search > .btn-search,
.central-full button,
.view-footer > button,
.btn-review,
footer > button {
  color: #fff;
  background-color: #4db6ac;
}
.btn-secondary {
  color: #4db6ac;
}

.sub.highlight,
h3.header {
  color: #3d7678;
}

@media screen and (max-width: 600px) {
  .page-body > .form > header,
  .page-body > article > header,
  .page-body > div > header,
  .content-container > div > header,
  .view-header {
    color: #fff;
    background-image: linear-gradient(90deg, #008577, #00574b);
  }

  .header {
    background-color: #f2f2f2;
  }
  h3.header {
    background-color: #e1ebe9;
  }

  .page-body > .form > header > h2,
  .page-body > div > header > h2,
  .content-container > div > header > h2,
  .view-header > h2,
  header > .btn-group > button,
  header > .btn-group > button,
  header > .btn-group > *,
  header > .btn-new,
  header > .btn-back,
  header > .btn-close,
  .view-header > .btn-back,
  .view-header > .btn-close {
    color: #fff;
  }
}

.pagination > li > a,
.pagination > li > span {
  border-color: #999999;
  background-color: inherit;
}
/* bootstrap */
/*.panel-heading,*/
.result .active,
/*
.pagination > .active, 
.pagination-page.active,*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th,
table > thead > tr > td.active,
table > tbody > tr > td.active,
table > tfoot > tr > td.active,
table > thead > tr > th.active,
table > tbody > tr > th.active,
table > tfoot > tr > th.active,
table > thead > tr.active > td,
table > tbody > tr.active > td,
table > tfoot > tr.active > td,
table > thead > tr.active > th,
table > tbody > tr.active > th,
table > tfoot > tr.active > th {
  background-color: #387ef5;
}

.table-hover tbody tr.active:hover td,
.table-hover tbody tr.active:hover th,
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th,
table > thead > tr > td.active,
table > tbody > tr > td.active,
table > tfoot > tr > td.active,
table > thead > tr > th.active,
table > tbody > tr > th.active,
table > tfoot > tr > th.active,
table > thead > tr.active > td,
table > tbody > tr.active > td,
table > tfoot > tr.active > td,
table > thead > tr.active > th,
table > tbody > tr.active > th,
table > tfoot > tr.active > th {
  border-color: #428bca;
  background-color: #4f5352;
}

table > tbody > tr:hover,
table > tbody > tr:nth-of-type(odd):hover,
.table-hover > tbody > tr:hover,
.table-striped > tbody > tr:nth-of-type(odd):hover {
  background-color: #eee;
}

table > thead > tr > th,
table > tbody > tr > td {
  border-bottom-color: #ddd;
}

table,
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th,
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-color: #ddd;
}

table > tbody > tr:nth-of-type(odd),
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
/* end bootstrap only */
