.categories-tab {
  .container{
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #202020;
    .btn{
      cursor: pointer;
      height: 32px;
      border: none;
      border-radius: 50%;
      min-width: 32px;
    }
    .btn-hide{
      display: none;
    }
    .tabs{
      flex-grow: 1;
      color: #FFF;
      list-style-type: none;
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow-x: scroll; 
      &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
        width: 0; /* WebKit */
        height: 0; /* WebKit */
      };
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      input[type='radio'] {
        display: none;
        &:checked+label {
          background-color: #ffffff;
          color: #000;
        }
      }
      .tab-label {
        display: inline-block;
        background-color: #363636;
        padding: 4px 11px;
        font-size: 16px;
        cursor: pointer;
        margin: 12px 12px 12px 0px;
        border-radius: 32px; 
      }
    }
  }
}


